{% load static %}

<head>
    <h3>FIRMY, KTÓRE NIE TESTUJĄ SWOICH PRODUKTÓW NA ZWIERZĘTACH</h3>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'firma/style.css' %}" />
</head>
<body class="allfirm">
<div class="allfirm">
{% if all_firms %}
    <ul>
    {% for firm in all_firms %}
        <li><a href="{{ firm.detail}}">{{ firm.firm_name }}</a></li>
    {% endfor %}
    </ul>
</div>
{% else %}
    <p>No firms are available.</p>
{% endif %}

</body>
