{% load static %}

<head>
    <h1>WYKAZ WSZYSTKICH FIRM</h1>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'firma/style.css' %}" />
</head>
<body>

{% if all_firms %}
    <ul>
    {% for firm in all_firms %}
        <li><a href="/firma/{{ firm.firm_name}}/">{{ firm.firm_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

</body>
