h1 {
    font-size: 25px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 25px;
    padding-top: 20px;
}

body {
    background: url("images/12730.jpg");
    background-repeat:no-repeat;
    background-size:100%;
    padding-top: 100px;
    padding-left: 200px;
}

div {
  padding-top: 300px;
  padding-left: 700px;
}

body.allfirm {
    background: url("images/12730.jpg");
    background-repeat:no-repeat;
    background-size:100%;
    padding-top: 20px;
    padding-left: 200px;
}

div.allfirm {
    font-size: 15px;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    -webkit-column-gap: 5em;
    -moz-column-gap: 5em;
    column-gap: 5em;
    max-width: 500px;
    padding-top: 0px;
    padding-left: 100px;
}
